body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* global setting */

*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  outline:none;
}

::before ::after {
  box-sizing:border-box;
}

body{
  min-height :100vh;
  background-image: linear-gradient(to bottom right , var(--pink-light), var(--cyan-light));
  background-attachment: fixed;
}
body::before{
  content:'';
  position:fixed;
  left:0;
  top:0;
  height:100%;
  width:100%;
  background-color: var(--green-yellow);
  z-index:-1;
  opacity:0.12;
  font-size:10px;
  color:var(--blue-dark);
  line-height:1.5;
  overflow-x : hidden;
  -webkit-top-highlight-color: transparent;
  padding: 5vh 15px;
}
.hidden{
  display:none !important;
}



section{
  background-color: var(--white-alpha-25);
  border:1px solid var(--white-alpha-40);
  min-height: 90vh;
  border-radius:30px;
  backdrop-filter: var(--backdrop-filter-blur);
  min-height:calc(100vh - 70px);

}

/*section code that works on the nav */
/* section{
display:none;
} */
section.active{
  display:block;
}
.home-section.active{
  display:flex;
}
section.fade-out{
  animation:fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut{
  0%{
      opacity:1;
  }
  100%{
      opacity:0;
  }
}
.section.active{
  display:block;
  animation:fadeIn 0.5s ease-in-out forwards;
}
@keyframes fadeIn{
  0%{opacity:0;}
  100%{opacity:1;}
}

/*section code that works on the nav end */

.main{
  position:relative;
  max-width:1200px;
  margin:auto;
  transition:all 0.5 ease-in-out;
}
.main.fade-out{
  opacity:0;
}

.container{
 width:100%;
  padding:0 40px;
}

.row{
  display:flex;
  flex-wrap:wrap;
}
.row.ministry-bar{
  width:100%;
  height:100px;
  background-color:var(--white-alpha-25);
  justify-content: center;
  margin-bottom:20px;
  border-radius:10px;
  border:1px solid var(--white-alpha-40);
}
.row.ministry-bar img{
  min-width: 300px
}

.align-items-center{
  align-items:center;
}

.home-img{
  background-color:green;
}
.home-text, .home-img{
width : 50%;
padding:15px;
}
/* search section code starts*/

.search-section .home-text, .search{
      width : 50%;
      padding:15px;
      }
      .contact-form{
          width:100%;
          height:100%;
          padding:0 15px;
          border-left: 1px dotted var(--white-alpha-40);
      }
      .contact-form .row{
          align-items:center;
          justify-content: center;
      }
      .contact-form .input-group{
          width:100%;
          margin-bottom:30px;
      }
      .contact-form .input-control::placeholder{
          color:var(--black-dark);
          opacity:0.8;
          font-weight:300;
      }
      .contact-form .input-control{
          display:block;
          width:100%;
          height:50px;
          border-radius:25px;
          border:none;
          font-family:inherit;
          font-weight:400;
          font-size:16px;
          background-color:var(--white-alpha-25);
          padding:0 20px;
          color:var(--blue-dark);
          border:1px solid transparent;
          transition:border-color 0.3s ease;
      }
      .contact-form .input-control:focus{
          border-color:var(--white-alpha-40);
      }
/* search section code ends*/

.home-img ,home-box{
  max-width:360px;
  background-color:var(--white-alpha-25);
  border-radius:50%;
  border:8px solid var(--white-alpha-40);
  margin:auto;
}
.home-img .img-box img{
  width:100%;
  border-radius:50%;
}
.home-section{
   /* display:flex;  */
  padding:120px 0;
} 
  
.home-text p{
  font-size:18px;
}
.home-text h1{
  font-size:50px;
  text-transform:capitalize;
}
.home-text h2{
  font-size:20px;
  text-transform:capitalize;
  font-weight:300;
  margin:0 0 30px;
}

/* Home Buttons */

a{text-decoration:none;}
.btn{
  line-height:1.5;
  background-color:(var(--white-alpha-25));
  padding:10px 28px;
  display:inline-block;
  border-radius:30px;
  color:var(--main-color);
  font-weight:500;
  text-transform:capitalize;
  border:1px solid var(--white-alpha-40);
  font-family:inherit;
  font-size:16px;
  cursor:pointer;
  user-select: none;
  position: relative;
  overflow:hidden;
  vertical-align:middle;
  transition: color 0.3s ease;
}

.btn::before{
  content:'';
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:0%;
  background-color:var(--main-color);
  z-index:-1;
  transition: width 0.3s ease;
}
.btn:hover::before{
width:100%;
}
.btn:hover{
  color:var(--white);
}
.home-text .btn{
  margin:0 15px 15px 0;
}

/* custom scroll bar */
::-webkit-scrollbar{
  width:5px;
}
::-webkit-scrollbar-track{
  background-color:var(--white);
}
::-webkit-scrollbar-thumb{
  background-color:var(--main-color)
}

/* ive stopped on page 9 */



/* nav bar css start */
.flex-end{
  justify-content: flex-end;
}
ul{
  list-style:none;
}

.header{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  z-index:1;
  padding:20px 0 0;
}

.header .nav-toggler{
  width:50px;
  height:50px;
  border:none;
  cursor:pointer;
  border-radius:50%;
  background-color:var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  display:flex;
  align-items:center;
  justify-content: center;
  margin: 0 15px;
}
.header .nav-toggler span{
  height:2px;
  width:24px;
  background-color:var(--main-color);
  position:relative;
}
.header .nav-toggler span::before, .header .nav-toggler span::after{
content:"";
position:absolute;
top:0;
width:100%;
height:100%;
background-color: var(--main-color);
transition:all 0.3s ease;
}
.header .nav-toggler span::before{
  left:0;
  transform:translateY(-8px);
}
.header .nav-toggler span::after{
  right:0;
  transform:translateY(8px);
}

.header .nav-toggler:hover span::before, .header .nav-toggler:hover span::after{
  width:50%;
}
.header .nav{
  position:fixed;
  left:0;
  top:0;
  height:100%;
  width:100%;
  padding:35px 15px;
  overflow-y:auto;
  visibility:hidden;
}
.header .nav-toggler{
   z-index:1; 
}
.header .nav-inner{
  min-height:calc(100vh - 70px);
  max-height:1200px;
  margin:auto;
  background-color:var(--white-alpha-25);
  border:1px solid var(--white-alpha-40);
  backdrop-filter:var(--backdrop-filter-blur);
  padding:50px 0;
  border-radius:30px;
  display:flex;
  align-items:center;
  justify-content:center;
  
}

.header .nav-inner ul li{
  text-align:center;
}
.header .nav-inner ul li a{
  font-size:40px;
  text-transform: capitalize;
  color:var(--black-dark);
  display:block;
  font-weight:500;
  padding:8px 15px;
  transition: color 0.3s ease;
  position: relative;
}
.header .nav-inner ul li a:hover{
  color:var(--main-color);
}
.header .nav-inner ul li a::before{
  content:'';
  position:absolute;
  right:0;
  bottom:0;
  height:50%;
  width:0%;
  background-color:var(--white-alpha-25);
  z-index: -1;
  transition:width 0.5s ease;
}
.header .nav-inner ul li a:hover::before{
  width:100%;
}

/* more of the section tweaking code */
.header.active .nav{
  visibility:visible;
}
.header .nav-inner{
  opacity:0;
  transition:all 0.5s ease;
}
.header.active .nav-inner{
  opacity:1;
}

/* the code below from 678 will help to animate the toggler */
.header .nav-toggler span{
  transition:background-color 0.3s ease;
}
.header.active .nav-toggler span{
  background-color:transparent;
}
.header.active .nav-toggler span::before{
  transform:rotate(45deg);
}
.header.active .nav-toggler span::after{
  transform: rotate(-45deg);
}
/* the code above from 678 will help to animate the toggler */
.header:not(.active) .nav-toggler:hover span::before,
.header:not(.active) .nav-toggler:hover span::after{
  width:50%;
}
.header.active{
  position:fixed;
  top:35px;
  padding:20px 15px;
}
.header.active .container{
  max-width:1200px;
  margin:auto;
}
.header .nav-toggler{
  transition:opacity 0.5s ease-in-out;
}
.header .nav-toggler.hide{
  opacity:0;
  transition:none;
}
.header .nav-toggler .hide{
  opacity:0;
}

/* we add an overlay whicch will help to prevebt multiple clicks when the user clixks on our navs */
/* .overlay{
  position:fixed;
  left:0;
  top:0;
  height: 100%;
  width: 100%;
  background-color:transparent;
  z-index:200;
  visibility:hidden;
} 
.overlay.active{
  visibility:visible;
} 
/* more of the section tweaking code */
/* nav bar css end*/